<div class='row'>
  <div  class="hidden-sm hidden-xs col-xs-12 col-md-4" id="rodlo">
    <a href="http://rodlo.gdanska.zhp.pl/">
      <img class="img-responsive" src='images/rodlo.png'>
    </a>
  </div>
  <div class="col-xs-12 col-md-4" id="info"></div>
  <div class="col-xs-12 col-md-4" id="linki">
  <a><img class="img-responsive" src="images/referat.png"></a>
  <a href="http://www.gdanska.zhp.pl"><img class="img-responsive" src="images/choragiew.png"></a>
  <a><img src=""></a>
  </div>
</div>