<div class="row">
<div id="doRodla" class="col-xs-12 boks">Dni do Rajdu Rodło: {{daysToRodlo}}</div>
<div id="iloscDruzyn" class="col-xs-12 boks">Drużyny biorące udział: {{units}}</div>
<div id="kilometrySuma" class="col-xs-12 boks">Suma przebytych kilometrów: {{km}}</div>
</div>