<h2>Rejestracja</h2>
<form role="form">
<h3>Użytkownik</h3>
<div class="form-group">
    <label for="name">Imie</label>
    <input type="text" class="form-control" id="name" placeholder="Wpisz imię">
  </div>
  <div class="form-group">
    <label for="name">Imie</label>
    <input type="text" class="form-control" id="name" placeholder="Wpisz imię">
  </div>
</form>