<div class='row'>
    <div class="col-sm-12">
<h3 class="text-success text-center">Rejestracja przebiegła pomyślnie</h3>
<h4 class="text-success text-center">przejdź <a href="/login">tutaj</a> aby się zalogować</h4>
    </div>
    </div>