@import 'nib'

zielony = rgb(132,163,17)
fioletowy = rgb(98,37,153)
pomaranczowy = rgb(243,112,33)
czerwony = rgb(206,24,30)
granatowy = rgb(8,76,161)

.boks
  color: white
  font-size: 20px
  border-radius: 10px
  border-top-right-radius: 0
  transform: rotate(-10deg)
  padding: 10px
  margin-bottom:10px
  background-color: zielony
  
#info
  margin-top 40px
  
#linki 
  margin-top 20px