@import 'nib'

zielony = rgb(132,163,17)
fioletowy = rgb(98,37,153)
pomaranczowy = rgb(243,112,33)
czerwony = rgb(206,24,30)
granatowy = rgb(8,76,161)

nav
  background-color fioletowy!important
  a
    color white!important